<% @loops.each do |loop| %>
  <div class="player-container">
    <div class="player-info">
        <div class="info">
          <div class="title"><%= loop.title %></div>
          <div class="producer-name">by <%= loop.user.username %></div>
        </div>

        <div class="download-button" id="download">
          <% if !user_signed_in? %>

            <%= link_to new_user_registration_path do %>
              <i class="material-icons">arrow_downward</i>
            <% end %>

          <% else %>

            <a href='<%= loop.file.service_url %>' download>
              <i class="material-icons">arrow_downward</i>
            </a>
            
          <% end %>
        </div>

    </div>
    <audio id="player" controls class="js-player" loop>
        <source src="<%= loop.file.service_url %>" type="audio/mp3">
    </audio>
  </div>
<% end %>