<!DOCTYPE html>
<html>
  <head>
    <title>Allforvali</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application.js',"https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  </head>

  <body>


<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to "ALLFORVALI", root_path %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-right">
        <li>
          <%= link_to "Upload", new_loop_path %>
        </li>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-right">
        <li class="float-left">
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li class="float-left">
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>


    <%= yield %>
  </body>
</html>
