<!DOCTYPE html>
<html>
  <head>
    <title>Allforvali</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path do %>
    <div class="navbar-brand">ALLFORVALI</div>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">FAQs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sign up</a>
      </li>
    </ul>
  </div>
</nav>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>


    <%= yield %>
  </body>
</html>
